
* {
	box-sizing: border-box;
} 

body, html {
	width: 100%;
	height: 100%;
	background: black;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: yellow;
  text-decoration: none;
}

a:active {
  color: yellow;
  text-decoration: none;
}

/*Progress bar on top*/
#progress {
	border-bottom: 2px solid yellow;
	width: 0;
	position: fixed;
	top: 0; left: 0;
}


.logo {
    color: white;
	text-align: center;
    padding-top: 5%;  
    letter-spacing: 1px; 
    padding-bottom: 17.5%; 
    font-family: 'Reem Kufi', sans-serif;
	text-transform: uppercase;
}

.logo span {
	color: white;
    font-size: 5em;
	text-align: center;
}

.logo h1 {
	text-align: center;
	font-size: 6em;
}

nav {
	position: fixed;
	z-index: 999;
	top: 85%;
	margin-top: -215px;
}

.menu{
	background: black;
	color:rgba(255, 255, 255, 1);
	display:block;
	padding: 0 10px;
	line-height:37px;
	font-weight: normal;
	border-bottom:1px solid rgba(151, 51, 51, 0.65);
	cursor:pointer;
	font-family: 'Muli', sans-serif;
	text-decoration: none;
}

.menu-yellow{
  	text-decoration: none;
	background: gray;
	color: yellow;
	padding: 0 10px;
	line-height:37px;
	font-weight:600;
	border-bottom:1px solid rgba(151, 51, 51, 0.65);
	cursor:pointer;
	font-family: 'Muli', sans-serif;
	font-weight: bold;
}

.wrapper { /*Holds the text inside the slides*/
	width: 80%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.slide {
	width: 100%;
	height: 100%;
	position: relative;
	background-repeat: no-repeat;
}

/*SLIDES*/
#slide0 {
	background-color:#e5e4e9;
	background: url(../img/batman-logo.png) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-attachment: fixed;

}

#slide1 {
	background: url(../img/west.jpg) center center no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-attachment: fixed;

	padding-top: 20%;
}

#slide2 {
	background: url(../img/keaton.jpg) center center no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-attachment: fixed;

	padding-top: 15em;
	text-align: center;
}

#slide3 {
	background: url(../img/kilmer.jpg) center center no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}

#slide4 {
	background: url(../img/clooney.jpg) center center no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-attachment: fixed;

	padding-top: 20em;
}

#slide5 {
	background: url(../img/bale.jpg) center center no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-attachment: fixed;

	padding-top: 15em;
	padding-left: 15em;
	text-align: right;
}

#slide6 {
	background: url(../img/affleck.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-attachment: fixed;	

	padding-top: 10em;
	text-align: center;
}

.slideTexts h1 {
	color: white;
	font-family: 'Reem Kufi', sans-serif;
	font-size: 4em;
	text-transform: uppercase;
}

.slideTexts p {
	color: white;
	font-family: 'Muli', sans-serif;
	font-size: 1.5em;
}

.slideTexts {
	width: 52%;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	margin: 0 auto;
	overflow: auto;
	position: relative;
	top: 60px;
	display: relative;
}

/*Back to top button*/
#back2Top { 
	border-radius: 25px;
	left: 57px;
	bottom: 10px;
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;    
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: yellow;
    color: black;
}